@using System.Security.Claims
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" sizes="70x70" href="~/favicon.png">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/about_us.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/add_new.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/catalog.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/contacts.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/> 
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/notification.css" asp-append-version="true"/> 
    <link rel="stylesheet" href="~/css/pagination.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/users.css" asp-append-version="true"/>
    <script src="~/js/AddOrUpdate.js" asp-append-version="true"></script>
</head>
<body>
<header>
<div class="header-buttons-container">
    <a class="home-button" asp-controller="Home" asp-action="Index">AlexGuitarsShop</a>
    <a class="menu-button" asp-controller="Home" asp-action="AboutUs">AboutUs</a>
    <a class="menu-button" asp-controller="Home" asp-action="Contacts">Contacts</a>
    <a class="menu-button" asp-controller="Catalog" asp-action="Index">Catalog</a>
    <a class="menu-button" asp-controller="Cart" asp-action="Index">Cart</a>
    @{
        if (User.Identity == null) throw new ArgumentNullException(nameof(User.Identity));
        @if (!User.Identity.IsAuthenticated)
        {
            <span class="login-registration-container">
                <a class="login-button" asp-controller="Account" asp-action="Login">Login</a>
                <a class="registration-button" asp-controller="Account" asp-action="Register">Register</a>
            </span>
        }
        else
        {
            <span class="user-box-container">
                <img class="user-img" src="/images/profile-icon.jpg" alt="User"/>
                <div class="dropdown">
                    @{
                        string nickName = User.Identity.Name;
                        <a class="dropdown-button">@User.FindFirstValue(ClaimTypes.Role): @nickName</a>
                    }
                    <div class="dropdown-child">
                        <a asp-controller="Account" asp-action="Logout">Exit</a>
                        @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                        {
                            <a asp-controller="Account" asp-action="Users">Users</a>
                            if (User.IsInRole("SuperAdmin"))
                            {
                                <a asp-controller="Account" asp-action="Admins">Admins</a>
                            }
                        }
                    </div>
                </div>

            </span>
        }
    }
</div>
</header>

@RenderBody()

<footer class="footer-class">
    <div class="container">
        &copy; 2023 - AlexGuitarsShop. All rights reserved.
    </div>
</footer>
</body>