@using AlexGuitarsShop.Domain
@model AlexGuitarsShop.ViewModels.PaginationViewModel;

@{
    const int limit = 10;
    int pageCount = Model.TotalCount % limit == 0 ? Model.TotalCount / limit : Model.TotalCount / limit + 1;
    Layout = null;
}

<div class="paginator-container">
    <div class="paginator">
        <a class="border-page-number" href="#">[ </a>
        @for (int i = 1; i < pageCount + 1; i++)
        {
            if (i == Model.CurrentPage)
            {
                <a class="current-page-number" href="#"> @i</a>
            }
            else
            {
                int number = i;
                switch (Model.Title)
                {
                    case Title.Catalog:
                        <a class="page-number" asp-controller="Catalog"
                           asp-route-pageNumber="@number" asp-action="Index">
                            @number
                        </a>
                        break;
                    case Title.Admins:
                        <a class="page-number" asp-controller="Account"
                           asp-route-pageNumber="@number" asp-action="Admins">
                            @number
                        </a>
                        break;
                    case Title.Users:
                        <a class="page-number" asp-controller="Account"
                           asp-route-pageNumber="@number" asp-action="Users">
                            @number
                        </a>
                        break;
                }
            }
        }
        <a class="border-page-number" href="#"> ]</a>
    </div>
</div>