<div class="popup-bg">
    <div class="popup-info">
        <p class="popup-message"></p>
        <div class="popup-buttons">
            <a class="confirm-popup">Yes</a>
            <a class="close-popup">No</a>
        </div>
    </div>
</div>