@model AlexGuitarsShop.ViewModels.GuitarViewModel

@{
    const string textTitle = "Add";
}

@{
    ViewData["Title"] = textTitle;
}

<div class="add-new-page-container">
    <div class="add-new-page-background-container">
        <div class="form-container">
            <form class="js-form-validate" id="form" method="post" asp-action="Add" enctype="multipart/form-data">
                <h2 class="add-new-header">@textTitle Guitar</h2>
                <div class="row">

                    <div class="image-form-group-row">
                        <div class="col-2">
                            <div class="image-container">
                                <img class="guitar-img" id="preview" src="/images/guitar-logo.jpg" alt="Guitar"/>
                            </div>
                        </div>
                        <div class="add-image-container">
                            <div>
                                <label>Image name</label>
                            </div>
                            <div>
                                <input asp-for="Avatar" type="File" id="file" accept="image/*" onchange="previewImage();"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-row">
                        <div class="col-4">
                            <label>Name</label>
                        </div>
                        <div class="add-input-container">
                            <div class="error-field" id="error-name"></div>
                            <input asp-for="Name" id="name" placeholder="From 5 to 50 symbols.." pattern=".{5,50}" required/>
                        </div>
                    </div>
                    <div class="form-group-row">
                        <div class="col-4">
                            <label>Price($)</label>
                        </div>
                        <div class="add-input-container">
                            <div class="error-field" id="error-price"></div>
                            <input id="price" asp-for="Price" min="10"/>
                        </div>
                    </div>
                    <div class="form-group-row">
                        <div class="col-4">
                            <label>Description</label>
                        </div>
                        <div class="add-input-container">
                            <div class="error-field" id="error-description"></div>
                            <textarea id="description" asp-for="Description" placeholder="From 10 to 600 symbols.." pattern=".{10,600}" required 
                            class="description-input" 
                            rows="3" ></textarea>
                        </div>
                    </div>
                    <div class="add-submit-container">
                        <input class="submit-add-button" id="submit" type="submit" value="@textTitle"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
const form = document.getElementById("form");
const name = document.getElementById("name");
const price = document.getElementById("price");
const description = document.getElementById("description");
const submit = document.getElementById("submit");

form.addEventListener('input', (e) => {
    const error_Name = document.getElementById("error-name"); 
    const error_Price = document.getElementById("error-price");
    const error_Description = document.getElementById("error-description");
    submit.disabled = false;
    if (name.value === '' || name.value == null) {
        error_Name.innerText = 'Name is required'
        submit.disabled = true;
        }
    else if (name.value.length < 5 || name.value.length > 50){
        error_Name.innerText = 'Name must be between 5...50 characters long'
        submit.disabled = true;
        }
    else {
        error_Name.innerText = ''
        }
    
    if (price.value < 10 || description.value > 1000000){
        error_Price.innerText = 'Price must be between 10 and 1 000 000 dollars'
        submit.disabled = true;
        }
    else {
        error_Price.innerText = ''
        }  
    
    if (description.value === '' || description.value == null) {
        error_Description.innerText = 'Description is required'
        submit.disabled = true;
        }
    else if (description.value.length < 10 || description.value.length > 600){
        error_Description.innerText = 'Description must be between 10...600 characters long'
        submit.disabled = true;
        }
    else {
        error_Description.innerText = ''
        }    
})
</script>