@{
    ViewData["Title"] = "Contacts";
}

<div class="contacts-page-container">
    <div class="contacts-page-background-container">
        <div class="contacts-content">
            <h1>Contact information</h1>
            <div class="telephone_information">
                <div>+38 050 77 66 555</div>
                <div>+38 068 77 55 666</div>
                <div>+38 073 777 66 55</div>
            </div>
            <div class="address_information">
                <h2>Address</h2>
                <span>Kharkiv, Sumska St 25, Kharkiv Oblast, Ukraine, 61000</span>
            </div>
            <div class="text">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>SHOP&nbsp;</p>
                <p><strong>Telephone: </strong>(050) 777-88-99</p>
                <p><strong>E-mail:&nbsp;</strong>info@alexguitarsshop.com.ua</p>
                <p>
                    <strong>Address:&nbsp;</strong><br>
                    Sumska St 25, Kharkiv, 61000
                </p>
                <p>
                    <strong>Working schedule:</strong>
                </p>
                <p>monday-friday&nbsp;from 10:00 to 19:00</p>
                <p>saturday-sunday from 10:00 to 18:00</p>
                <p>&nbsp;</p>
                <p>WORKSHOP</p>
                <p><strong>Telephone:&nbsp;</strong>(073) 888 55 33</p>
                <p><strong>Address:&nbsp;</strong>Sumska St 25, Kharkiv, 61000</p>
                <p>
                    <strong>Working schedule:</strong>
                </p>
                <p>monday-saturday from 10:00 to 18:00</p>
                <p>sunday - output</p>
            </div>
        </div>
    </div>

</div>