@model AlexGuitarsShop.Domain.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="register-page-container">
  <div class="register-page-background-container">
        <div class="register-content">
            <h2>New user register</h2>
            <form method="post" asp-controller="Account" asp-action="Register">
                <div  asp-validation-summary="ModelOnly"></div>
                <div>
                    <label asp-for="Name"></label><br/>
                    <input class="register-input-text" asp-for="Name" placeholder="From 3 to 20 symbols.." pattern=".{3,20}" 
                    required/>
                    <span asp-validation-for="Name"></span>
                </div>
                <div>
                    <label asp-for="Email"></label><br/>
                    <input class="register-input-text" asp-for="Email" type="email"/>
                    <span asp-validation-for="Email"></span>
                </div>
                <div>
                    <label asp-for="Password"></label><br/>
                    <input class="register-input-text" id="password" type="password" asp-for="Password" placeholder="From 5 to 50 symbols.." pattern=".{5,50}" required/>
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <label asp-for="PasswordConfirm"></label><br/>
                    <input class="register-input-text" id="confirm_password" type="password" asp-for="PasswordConfirm" required/>
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
                <div>
                    <input class="register-submit" type="submit" value="Register"/>
                </div>
            </form>
        </div>
  </div>
</div>


<script>
const password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value !== confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>