@{
    ViewData["Title"] = "About us";
}

<div class="about-us-page-container">
    <div class="about-us-page-background-container">
        <div class="about-us-page-content">
            <div class="about-us-text-content">
                <h1>About us</h1>

                <h2>AlexGuitarsShop: the first in Ukraine specialized store of guitars and equipment</h2>

                <p>Our shop is more than 10 years old. During this time, thousands of guitarists crossed the threshold of our store, we sold and repaired thousands of guitars and answered tens of thousands of questions from guitarists when choosing the instrument.</p>

                <p>The AlexGuitarsShop picked out thousands of dollars worth of premium models to make one guitar for life. We had our first $200 guitar and fell in love with music. It was all happening in plain sight.</p>

                <p>We know guitarists better because we know them. So it doesn’t matter: you choose the first guitar for yourself or choose the tenth in the collection. You buy a gift for a child or colleagues, or you plan to realize a long-term dream. We will listen to you carefully, understand what you are looking for and select the best instrument for you.</p>

                <div class="about-us-image-text-content">
                    <p class="about-us-image-content">
                        <img alt="" height="250" loading="lazy" src="/images/aboutUs.jpg">
                    </p>
                    <div class="about-us-more-text-content">
                        <p>
                            <strong>What do you have for us:</strong>
                        </p>
                        <ul>
                            <li>Acoustic, classical, electric and bass guitars in excellent quality. </li>
                            <li>Guitar technique: amplifiers, offices, effects pedals, processors and commutation.</li>
                            <li>Accessories and accessories. We have everything the guitarist needs.</li>
                        </ul>
                    </div>
                </div>

                <div class="workshop-text-container">
                    <div class="workshop-text">We also have a workshop. </div>
                    <p>Right in the shop, next to the guitars craftsmen every day return the guitars in perfect condition.</p>
                    <p>Grind frets, repair vultures, sills and mechanics. Every guitar we hand over to the guitarist goes through mandatory prophylaxis of a professional master.</p>
                    <p>Therefore, we give double the warranty on the tool than the stores of the general profile.</p>
                    <p>And most importantly. Anyone who steps foot in our store is one of our big guitarists. Join!</p>
                </div>
            </div>
        </div>
    </div>
</div>