@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page-container">
    <div class="home-page-background-container">
        <div class="home-header">
            <h1>
                <b>Welcome</b>
            </h1>
            <h2>To AlexGuitarsShop</h2>
        </div>
        <p>To see catalog of cool guitars - <a class="catalog-button" asp-controller="Guitar" asp-action="index">click here</a></p>
    </div>
</div>